

.quiz-main {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-box {
    width: 40%;
    color: white;
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 5px;
}

.quiz-bar {
    display: flex;
    justify-content: center;
    color: white;

}

.quiz-questions {
    display: flex;
    justify-content: start !important;
    /* padding-left: 20px; */
    text-align: start;
}

.quiz-option-box {
    width: 100%;
    background-color: azure;
    margin: 10px 0px 0px 0px;
    color: black;
    border-radius: 5px;
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quiz-option {
    display: flex;
    justify-content: start !important;
    padding-left: 10px;
}


.quiz-button {
    width: 90%;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    height: 40px;
    background-color: greenyellow;
}